@import url('reset.css');
@import url('global.css');

h1 {
    margin-bottom: 0;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 8px;
}    

.preview__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 60px 0 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}    

.preview__details {
    background: linear-gradient(270deg, #242424 0%, transparent 100%);
    text-align: right;
    padding: 50px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}    

.pokemon__color {
    color: var(--pokemon-color);
}    

.preview__level {
    font-size: 12px;
    text-transform: uppercase;
}    

.preview__description {
    margin-top: 28px;
    max-width: 60%;
}

.preview__pills {
    display: flex;
    margin-top: 34px;
    justify-content: flex-end;
}

.preview__pill {
    border: 2px solid var(--pokemon-color);
    border-radius: 40px;
    color: var(--pokemon-color);
    margin-left: 12px;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 14px;
}

.preview__pokemon {
    width: 35%;
    position: absolute;
}

.preview__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.preview__pokemon::before {
    content: "";
    background: var(--pokemon-color);
    position: absolute;
    width: 180px;
    height: 180px;
    left: 20%;
    top: 30%;
    filter: blur(100px);
}

.skills__container {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    justify-content: center;
}


.skills__description,
.evolutions__description {
    margin-bottom: 40px;
}

.skills__list {
    width: 100%;
}

.skills__item {
    background-color: var(--light-background);
    border-radius: 8px;
    margin: 12px 0;
    padding: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__label {
    font-size: 16px;
}

.skills__progress {
    width: 50%;
    height: 10px;
}

.skills__progress::-webkit-progress-bar {
    background: rgba(155, 155, 155, .2);
    border-radius: 10px;
}

.skills__progress::-webkit-progress-value {
    background-color: var(--pokemon-color);
    border-radius: 10px;
}

.evolutions__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evolutions__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    gap: 24px;
}

.evolutions__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pokemon-color);
    border-radius: 10px;
}

.evolutions__image {
    width: 80%;
    height: 28vh;
    padding: 24px;
}

.evolutions__details {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: var(--light-background);
    border-radius: 0 0 8px 8px;
    padding: 8px 0;
}
.evolutions__name {
    text-transform: lowercase;
    font-size: 18px;
    margin-top: 8px;
}

.evolutions__name:first-letter {
    text-transform: uppercase;
}

.evolutions__level {
    margin-top: 8px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 1064px) {  
    h2 {
        font-size: 32px;
    }    
    
    .preview__container {
        width: 100%;
        padding: 6vw 0 8vw;
    }    
    
    .preview__details {
        padding: 4vw;
        border-radius: 8px;
    }      
    
    .preview__description {
        margin-top: 2vw;
        max-width: 52%;
    }
    
    .preview__pills {
        margin-top: 3vw;
    }
    
    .preview__pill {
        margin-left: 1vw;
        padding: 1vw 2vw;
    }
    
    .preview__pokemon {
        width: 35vw;
    }   
}

@media only screen and (max-width: 600px) {
    h1 {
        margin-top: 8px;
    }

    .preview__container {
        flex-direction: column;
        padding-top: 0;
    }

    .preview__image {
        display: flex;
        align-items: flex-start;
    }

    .preview__pokemon {
        position: relative;
        width: 65%;
        top: 60px;
    }

    .preview__description {
        display: flex;
        max-width: 100%;
        text-align: center;
        font-size: 3vw;
    }

    .preview__details {
        display: flex;
        width: auto;
        background: linear-gradient(0deg, #242424 0%, transparent 100%);
        align-items: center;
        margin-top: 30px;
    }

    .preview__pills {
        flex-wrap: wrap;
    }

    .preview__pill {
        margin-bottom: 8px;
    }

    .skills__description {
        text-align: center;
    }

    .evolutions__list {
        flex-direction: column;
        align-items: center;
    }

    .evolutions__item {
        margin: 10px 0;
        width: 80vw;
    }

    .evolutions__description {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 334px) {
   .preview__container {
        padding-bottom: 60px;
    }

    .preview__description {
        margin-top: 18px;
    }

    .skills__container {
        margin-top: 60px;
    }

    .skills__item {
        flex-direction: column;
        padding: 18px;
    }

    .skills__description {
        margin-bottom: 18px;
    }

    .skills__label {
        margin-bottom: 8px;
        font-weight: bold;
    }

    .skills__progress {
        width: 100%;
    }

    .evolutions__description {
        font-size: 15px;
        margin-bottom: 0px;
        text-align: center;
    }

    .evolutions__list {
        margin-top: 20px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .preview__details {
        text-align: center;
        padding: 30px;
    }

    .preview__description {
        font-size: 14px;
    }

    .preview__pills {
        width: 100%;
    }

    .preview__pill {
        width: 100%;
        margin: 0px;
    }

    .preview__pill:nth-child(1) {
        margin-bottom: 2vw;
    }
}
